@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap");

$color-bg: rgb(255, 160, 162);
$color-desc: rgb(52, 31, 29);
$color-email: rgb(0, 99, 206);

.search-ctr {
  font-family: "Montserrat", sans-serif;
  .search-head {
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 2rem 0 0 0;
  }
  .search-input {
    width: 54%;
    padding: 0.5rem;
    height: 2rem;
    border: 2px solid black;
    border-radius: 0.25rem;
    margin: 2rem;
  }
  .users-list {
    padding: 0 20%;
    .user-ctr {
      text-align: left;
      margin: 1rem 2rem;
      padding: 1rem;
      border: 2px solid black;
      border-radius: 0.5rem;
      overflow: hidden;
      transition: all 0.2s;
      background-color: #fff;
      animation: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1
        animate-list-elem;
      &.collapse {
        .user-head {
          transition: all 0.2s;
          &::before {
            transform: rotate(-90deg) translateX(0.2rem);
          }
          .user-head-email {
            display: block;
          }
        }
      }
      &:hover {
        cursor: pointer;
        background-color: $color-bg;
        color: white;
        .user-head {
          color: white;
        }
      }
      .user-head {
        display: flex;
        flex-direction: row;
        &::before {
          content: " ";
          margin: 0.5rem 0 0.5rem 0.5rem;
          padding-left: 2rem;
          background-size: contain;
          background-repeat: no-repeat;
          transition: all 0.5s;
          transform: rotate(0) translateX(0);
          transform-origin: center;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='18' viewBox='0 0 18 18' width='18'%3E%3Cdefs%3E%3Cstyle%3E .fill %7B fill: %23464646; %7D %3C/style%3E%3C/defs%3E%3Ctitle%3ES ChevronDown 18 N%3C/title%3E%3Crect id='Canvas' fill='%23ff13dc' opacity='0' width='18' height='18' /%3E%3Cpath class='fill' d='M4,7.01a1,1,0,0,1,1.7055-.7055l3.289,3.286,3.289-3.286a1,1,0,0,1,1.437,1.3865l-.0245.0245L9.7,11.7075a1,1,0,0,1-1.4125,0L4.293,7.716A.9945.9945,0,0,1,4,7.01Z' /%3E%3C/svg%3E");
        }
        .user-head-name {
          font-size: 21px;
          font-weight: 800;
          padding: 0.5rem;
        }
        .user-head-email {
          margin: auto 0;
          text-transform: lowercase;
          color: $color-email;
          display: none;
          animation: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1
            animate-list-elem;
          &::selection {
            background: transparent;
          }
        }
      }
      .user-details {
        padding: 0 3rem 1rem 3rem;
        animation: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s 1
          animate-list-elem;
        color: $color-desc;
      }
    }
  }
}

@keyframes animate-list-elem {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
